<footer role="contentinfo">
  <div class="container">
    <div class="row"></div>
      <div class="col-xs-12">
        <div id="footerLinks">
          <div aling="center">
          </div>
          <ul style="text-align:center;">
            <li>
              <img style="height: 95px" src="{{ site.baseurl }}/assets/img/Consejeria_Hacienda-Gobierno_Cantabria.png" alt="Logo Consejería de Hacienda - Gobierno de Cantabria">
            </li>
            <li>
              <img style="height: 95px" src="{{ site.baseurl }}/assets/img/Logo_Camino_Lebaniego.png" alt="Logo Camino Lebaniego">
            </li>
            <li>
              <img src="{{ site.baseurl }}/assets/img/Logo_Icane.svg" alt="Logo Icane">
            </li>
            <li>
              <div style="width:50px;">
                <p>
                  <a href="https://twitter.com/icane_es" target="_blank"><img src="{{ site.baseurl }}/assets/img/twitter_icon.svg" alt="Icono de enlace a Twitter ICANE" width="32" height="32"></a>
                </p>
                <p>
                  <a href="https://www.facebook.com/icaneCantabria" target="_blank"><img src="{{ site.baseurl }}/assets/img/facebook_icon.svg" alt="Logotipo Facebook ICANE" width="32" height="32"></a>
                </p>
              </div>
            </li>
            {% if site.footer_menu %}
              {% for item in site.footer_menu %}
                <li>
                {% if item.path contains ":" %}
                  <a href="{{ item.path }}" target="_blank">{{ item.translation_key | t }}</a>
                {% else %}
                  {%- assign item_path = item.path -%}
                  {%- assign item_path_first = item_path | slice: 0 %}
                  {%- if item_path_first == '/' -%}
                    {%- assign item_path = item_path | slice: 1, item_path.size -%}
                  {%- endif -%}
                  <a href="{{ page.baseurl }}{{ item_path }}">{{ item.translation_key | t }}</a>
                {% endif %}
                </li>
              {% endfor %}
            {% endif %}
            <li><a href="https://open-sdg.org">{{ page.t.general.built_using_open_sdg }}</a></li>
          </ul>
        </div>
      </div>
    </div>
   </div> 
  </div>
</footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<!-- /.container </div> -->
{% include scripts.html %}

{% if site.analytics.ga_prod and site.analytics.ga_prod != '' %}
<script>
  initialiseGoogleAnalytics();
</script>
{% endif %}

</body>
</html>
